
body {
   /* background-image: url('../imgs/bricks.jpg');*/

    background-image: url('../imgs/steel.png');
    background-size: 1900px 1000px;

}
#content{
	width:1230px;
	margin:auto;
	}


#menus{
	float: right;
	margin-right:10px;


}

#menus1{
	background-color: rgb(255,255,255);
	width:180px;
	margin:10px;
	padding:10px;
	border-width: 1px;
	border-style:solid;

}


#settings{
	float: right;
	width: 300px;
	height: 700px;
	border-width: 1px;
	border-style:solid;
	margin: 30px;
	background-color:rgba(150,150,150,.5);
}



#sounds, #time, #sets, #labels{
	margin: 10px;
	border-width: 1px;
	border-style:solid;
	padding:10px;
}

.setting{
	margin:10px;
}


#reset{
	float:left;
}

#boots{
	float:left;
}



#pizza{
	width: 860px;
	height: 100%;
	margin:10;
	float:left;	
}